<%- include("header") %>
    <% if (mensagem !== "") {%>
    <label class="error-message"><%=mensagem%></label> <br /><br />
    <%}%>
    <form action="/" method="post">
      <label>Informe o CPF</label> <br>
      <input type="text" name="cpf" style="width:200px"> <br>
      <button type="submit" name="login">ACESSAR</button>
    </form>
<%- include("footer") %>
